In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
train = pd.read_csv('./train.csv',index_col='no')
test = pd.read_csv('./test.csv',index_col='no')
train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
no,,,,,,,,,,,,,,,
1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1

In [33]:
train.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [34]:
train.shape,test.shape

((29305, 15), (19537, 14))

In [35]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29305 entries, 1 to 29305
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             29305 non-null  int64
 1   workclass       29305 non-null  object
 2   fnlwgt          29305 non-null  int64
 3   education       29305 non-null  object
 4   education-num   29305 non-null  int64
 5   marital-status  29305 non-null  object
 6   occupation      29305 non-null  object
 7   relationship    29305 non-null  object
 8   race            29305 non-null  object
 9   sex             29305 non-null  object
 10  capital-gain    29305 non-null  int64
 11  capital-loss    29305 non-null  int64
 12  hours-per-week  29305 non-null  int64
 13  native-country  29305 non-null  object
 14  income          29305 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19537 entries, 29306 to 48842
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             19537 non-null  int64
 1   workclass       19537 non-null  object
 2   fnlwgt          19537 non-null  int64
 3   education       19537 non-null  object
 4   education-num   19537 non-null  int64
 5   marital-status  19537 non-null  object
 6   occupation      19537 non-null  object
 7   relationship    19537 non-null  object
 8   race            19537 non-null  object
 9   sex             19537 non-null  object
 10  capital-gain    19537 non-null  int64
 11  capital-loss    19537 non-null  int64
 12  hours-per-week  19537 non-null  int64
 13  native-country  19537 non-null  object
dtypes: int64(6), object(8)
memory usage: 2.2+ MB

(None, None)

In [36]:
train.describe(),test.describe()

(                age        fnlwgt  education-num  capital-gain  capital-loss  \
 count  29305.000000  2.930500e+04   29305.000000  29305.000000  29305.000000
 mean      38.659171  1.897357e+05      10.083057   1084.531786     87.073571
 std       13.743827  1.056348e+05       2.570371   7495.715677    401.225580
 min       17.000000  1.376900e+04       1.000000      0.000000      0.000000
 25%       28.000000  1.176060e+05       9.000000      0.000000      0.000000
 50%       37.000000  1.779550e+05      10.000000      0.000000      0.000000
 75%       48.000000  2.377130e+05      12.000000      0.000000      0.000000
 max       90.000000  1.490400e+06      16.000000  99999.000000   4356.000000

        hours-per-week        income
 count    29305.000000  29305.000000
 mean        40.440096      0.240403
 std         12.332840      0.427335
 min          1.000000      0.000000
 25%         40.000000      0.000000
 50%         40.000000      0.000000
 75%         45.000000      0.000000
 max         99.000000      1.000000  ,
                 age        fnlwgt  education-num  capital-gain  capital-loss  \
 count  19537.000000  1.953700e+04   19537.000000  19537.000000  19537.000000
 mean      38.620208  1.895568e+05      10.070635   1070.871526     88.145416
 std       13.660701  1.055605e+05       2.571923   7386.174276    405.667779
 min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
 25%       28.000000  1.174770e+05       9.000000      0.000000      0.000000
 50%       37.000000  1.783190e+05      10.000000      0.000000      0.000000
 75%       48.000000  2.375460e+05      12.000000      0.000000      0.000000
 max       90.000000  1.484705e+06      16.000000  99999.000000   3900.000000

        hours-per-week
 count    19537.000000
 mean        40.395813
 std         12.479102
 min          1.000000
 25%         40.000000
 50%         40.000000
 75%         45.000000
 max         99.000000  )

In [37]:
def delete(n):
    return n.lstrip()

In [38]:
train['workclass']=train['workclass'].apply(delete)
test['workclass']=test['workclass'].apply(delete)
train['workclass'].value_counts(),test['workclass'].value_counts()

(Private             20410
 Self-emp-not-inc     2305
 Local-gov            1868
 ?                    1663
 State-gov            1201
 Self-emp-inc          987
 Federal-gov           854
 Without-pay            12
 Never-worked            5
 Name: workclass, dtype: int64,
 Private             13496
 Self-emp-not-inc     1557
 Local-gov            1268
 ?                    1136
 State-gov             780
 Self-emp-inc          708
 Federal-gov           578
 Without-pay             9
 Never-worked            5
 Name: workclass, dtype: int64)

In [39]:
train.loc[:,'workclass'][train.loc[:,'workclass']=='?']='Private'
test.loc[:,'workclass'][test.loc[:,'workclass']=='?']='Private'
train['workclass'].value_counts(),test['workclass'].value_counts()

<ipython-input-39-19a8ff197f50>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[:,'workclass'][train.loc[:,'workclass']=='?']='Private'
<ipython-input-39-19a8ff197f50>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[:,'workclass'][test.loc[:,'workclass']=='?']='Private'

(Private             22073
 Self-emp-not-inc     2305
 Local-gov            1868
 State-gov            1201
 Self-emp-inc          987
 Federal-gov           854
 Without-pay            12
 Never-worked            5
 Name: workclass, dtype: int64,
 Private             14632
 Self-emp-not-inc     1557
 Local-gov            1268
 State-gov             780
 Self-emp-inc          708
 Federal-gov           578
 Without-pay             9
 Never-worked            5
 Name: workclass, dtype: int64)

In [40]:
train['education']=train['education'].apply(delete)
test['education']=test['education'].apply(delete)
train['education'].value_counts(),test['education'].value_counts()

(HS-grad         9435
 Some-college    6558
 Bachelors       4848
 Masters         1587
 Assoc-voc       1230
 11th            1057
 Assoc-acdm       980
 10th             816
 7th-8th          574
 Prof-school      500
 9th              430
 12th             415
 Doctorate        347
 5th-6th          334
 1st-4th          148
 Preschool         46
 Name: education, dtype: int64,
 HS-grad         6349
 Some-college    4320
 Bachelors       3177
 Masters         1070
 Assoc-voc        831
 11th             755
 Assoc-acdm       621
 10th             573
 7th-8th          381
 Prof-school      334
 9th              326
 Doctorate        247
 12th             242
 5th-6th          175
 1st-4th           99
 Preschool         37
 Name: education, dtype: int64)

In [41]:
train['marital-status']=train['marital-status'].apply(delete)
test['marital-status']=test['marital-status'].apply(delete)
train['marital-status'].value_counts(),test['marital-status'].value_counts()

(Married-civ-spouse       13331
 Never-married             9673
 Divorced                  4030
 Widowed                    942
 Separated                  914
 Married-spouse-absent      394
 Married-AF-spouse           21
 Name: marital-status, dtype: int64,
 Married-civ-spouse       9048
 Never-married            6444
 Divorced                 2603
 Separated                 616
 Widowed                   576
 Married-spouse-absent     234
 Married-AF-spouse          16
 Name: marital-status, dtype: int64)

In [42]:
train['occupation']=train['occupation'].apply(delete)
test['occupation']=test['occupation'].apply(delete)
train['occupation'].value_counts(),test['occupation'].value_counts()

(Prof-specialty       3724
 Craft-repair         3632
 Exec-managerial      3609
 Adm-clerical         3440
 Sales                3292
 Other-service        2975
 Machine-op-inspct    1811
 ?                    1668
 Transport-moving     1393
 Handlers-cleaners    1249
 Farming-fishing       888
 Tech-support          865
 Protective-serv       603
 Priv-house-serv       146
 Armed-Forces           10
 Name: occupation, dtype: int64,
 Craft-repair         2480
 Exec-managerial      2477
 Prof-specialty       2448
 Sales                2212
 Adm-clerical         2171
 Other-service        1948
 Machine-op-inspct    1211
 ?                    1141
 Transport-moving      962
 Handlers-cleaners     823
 Farming-fishing       602
 Tech-support          581
 Protective-serv       380
 Priv-house-serv        96
 Armed-Forces            5
 Name: occupation, dtype: int64)

In [43]:
train['relationship']=train['relationship'].apply(delete)
test['relationship']=test['relationship'].apply(delete)
train['relationship'].value_counts(),test['relationship'].value_counts()

(Husband           11769
 Not-in-family      7637
 Own-child          4554
 Unmarried          3071
 Wife               1370
 Other-relative      904
 Name: relationship, dtype: int64,
 Husband           7947
 Not-in-family     4946
 Own-child         3027
 Unmarried         2054
 Wife               961
 Other-relative     602
 Name: relationship, dtype: int64)

In [44]:
train['race']=train['race'].apply(delete)
test['race']=test['race'].apply(delete)
train['race'].value_counts(),test['race'].value_counts()

(White                 25081
 Black                  2776
 Asian-Pac-Islander      919
 Amer-Indian-Eskimo      290
 Other                   239
 Name: race, dtype: int64,
 White                 16681
 Black                  1909
 Asian-Pac-Islander      600
 Amer-Indian-Eskimo      180
 Other                   167
 Name: race, dtype: int64)

In [45]:
train['native-country']=train['native-country'].apply(delete)
test['native-country']=test['native-country'].apply(delete)
train['native-country'].value_counts(),test['native-country'].value_counts()

(United-States                 26301
 Mexico                          579
 ?                               495
 Philippines                     178
 Germany                         124
 Puerto-Rico                     117
 Canada                          111
 El-Salvador                      96
 Cuba                             94
 India                            90
 England                          75
 South                            74
 Jamaica                          68
 China                            68
 Dominican-Republic               61
 Italy                            60
 Japan                            54
 Columbia                         53
 Poland                           53
 Haiti                            51
 Guatemala                        51
 Vietnam                          50
 Portugal                         43
 Taiwan                           39
 Iran                             38
 Nicaragua                        28
 Greece                           25
 Peru                             25
 Ireland                          23
 Ecuador                          21
 France                           20
 Hong                             19
 Cambodia                         19
 Outlying-US(Guam-USVI-etc)       15
 Thailand                         15
 Yugoslavia                       13
 Trinadad&Tobago                  13
 Laos                             13
 Hungary                          12
 Honduras                         11
 Scotland                          9
 Holand-Netherlands                1
 Name: native-country, dtype: int64,
 United-States                 17531
 Mexico                          372
 ?                               362
 Philippines                     117
 Germany                          82
 Canada                           71
 Puerto-Rico                      67
 India                            61
 El-Salvador                      59
 China                            54
 England                          52
 Italy                            45
 Cuba                             44
 Dominican-Republic               42
 South                            41
 Japan                            38
 Jamaica                          38
 Guatemala                        37
 Vietnam                          36
 Poland                           34
 Columbia                         32
 Taiwan                           26
 Haiti                            24
 Greece                           24
 Ecuador                          24
 Portugal                         24
 Nicaragua                        21
 Iran                             21
 Peru                             21
 France                           18
 Thailand                         15
 Ireland                          14
 Trinadad&Tobago                  14
 Scotland                         12
 Hong                             11
 Yugoslavia                       10
 Laos                             10
 Honduras                          9
 Cambodia                          9
 Outlying-US(Guam-USVI-etc)        8
 Hungary                           7
 Name: native-country, dtype: int64)

In [46]:
train.loc[:,'native-country'][train.loc[:,'native-country']=='?']='United-States'
test.loc[:,'native-country'][test.loc[:,'native-country']=='?']='United-States'
train.loc[:,'native-country'][train.loc[:,'native-country']!='United-States']=1
train.loc[:,'native-country'][train.loc[:,'native-country']=='United-States']=0
test.loc[:,'native-country'][test.loc[:,'native-country']!='United-States']=1
test.loc[:,'native-country'][test.loc[:,'native-country']=='United-States']=0
train['native-country'].value_counts(),test['native-country'].value_counts()

<ipython-input-46-f8d86c3dd354>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[:,'native-country'][train.loc[:,'native-country']=='?']='United-States'
<ipython-input-46-f8d86c3dd354>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[:,'native-country'][test.loc[:,'native-country']=='?']='United-States'
<ipython-input-46-f8d86c3dd354>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[:,'native-country'][train.loc[:,'native-country']!='United-States']=1
<ipython-input-46-f8d86c3dd354>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[:,'native-country'][train.loc[:,'native-country']=='United-States']=0
<ipython-input-46-f8d86c3dd354>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[:,'native-country'][test.loc[:,'native-country']!='United-States']=1
<ipython-input-46-f8d86c3dd354>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[:,'native-country'][test.loc[:,'native-country']=='United-States']=0

(0    26796
 1     2509
 Name: native-country, dtype: int64,
 0    17893
 1     1644
 Name: native-country, dtype: int64)

In [47]:
categorical_feature = ['workclass', 'education','marital-status', 'occupation', 'relationship', 'race', 'sex']

In [48]:
y_train=train.loc[:,'income']
train.drop('income',axis=1,inplace=True)
combine=pd.concat([train,test],ignore_index=True)
combine.shape

(48842, 14)

In [49]:
one_hot=pd.get_dummies(combine[categorical_feature])
one_hot.shape

(48842, 59)

In [50]:
combine.drop(categorical_feature,axis=1,inplace=True)
combine.shape

(48842, 7)

In [51]:
total_combine=pd.concat([combine,one_hot],axis=1)
total_combine.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,native-country,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_ Female,sex_ Male
0,25,219199,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,39,52978,10,0,1721,55,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,35,196899,13,0,0,50,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,64,135527,11,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,24,60783,10,0,0,70,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [52]:
X_train=total_combine.iloc[:29305,:]
X_test=total_combine.iloc[29305:,:]
X_train.shape,X_test.shape,y_train.shape

((29305, 66), (19537, 66), (29305,))

In [53]:
from sklearn.ensemble import GradientBoostingClassifier

In [54]:
gb_model=GradientBoostingClassifier()

In [55]:
gb_model.fit(X_train,y_train)

GradientBoostingClassifier()

In [58]:
#모델 받아와서 사용
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
gb_model=GradientBoostingClassifier(max_depth=5)

gb_model.fit(X_train, y_train)

#예상 예측값의 정확도 
print('grad : ',cross_val_score(gb_model, X_train, y_train, cv=5).mean())

grad :  0.8711823920832622

In [56]:
result=gb_model.predict(X_test)
result

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [57]:
sample=pd.read_csv('./payment/sample_submission.csv')
sample['income']=result
sample.to_csv('./payment/mySubmission01.csv',index=False)

FileNotFoundError: [Errno 2] No such file or directory: './payment/sample_submission.csv'